<div style="display: grid;
  grid-template-columns: auto auto auto;
  background-color: #AF96F3;
  padding: = 7px;
            width:100%;">
  <div style="background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px 10px 20px;
  display:flex; justify-content: space-between;"><div style="text-aling:left; width:80%"><h1>Lecture 08: Loops in Python</h1></div><div style="text-align:right;width:20%;font-size: 10px;">Date: 07/05/2021</div></div>
  <div style="background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 16px;text-align: left;"><p>Author: Javad Ebadi</p></div>
  <div style="background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 14px; display:flex; justify-content: space-between;">
      <div style="width:33.3%; text-align:left; margin:5px; padding:5px;"><p>Email: javad.ebadi.1990@gmail.com</div>
      <div style="width:33.3%; text-align:center; margin:5px; padding:5px;"><p>Telegram: <a href="https://t.me/javadebadi1990">@javadebadi1990</a></p></div>
      <div style="width:33.3%; text-align:right; margin:5px; padding:5px;"><p>GitHub: <a href="https://github.com/javadebadi">javadebadi</a></p></div>
   </div>
  <div style="background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 14px;
              text-align: left;"><p>
      Table of Contents</p>
<ul>
    <li><a href="#flowchar-loop">8.1 Flowchart with a loop</a>
    <li><a href="#function-range">8.2 range</a>
        <li><a href="#for-loop">8.3 for loop</a>
            <ul>
                <li><a href="#function-enumerate">8.3.1 enumerate</a></li>
            </ul>
    <li><a href="#loop-break-continue">8.4 break and continue</a></li>
    <ul>
        <li><a href="#loop-break">8.4.1 break</a></li>
        <li><a href="#loop-continue">8.4.2 continue</a></li>
    </ul>
    <li><a href="#pass-statements">8.5 pass statements</a></li>
    <li><a href="#anonymous-for-loop-variable">8.6 Anonymous for loop variable</a></li>
</ul>
      <b> Expected time to complete this notebook: 1 hour</b>
</div>
</div>

## 8.1 Flowchart with a loop <a id="flowchar-loop"></a>

<img src="./images/flow-chart-loop.svg" width="500">

In [1]:
# print positive integers smaller than given input

number = int(input("Please enter a positive integer:"))

while number > 0:
    print(number, end=" ")
    number -= 1

Please enter a positive integer:10
10 9 8 7 6 5 4 3 2 1

## 8.2 range function <a id="function-range"></a>

In [2]:
range(10)  # returns a range iterable for numbers from 0 (included) to 10 (excluded)

range(0, 10)

In [3]:
# iterable
[*range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
[*range(5, 10)] # returns a range iterable for numbers from 5 (included) to 10 (excluded)

[5, 6, 7, 8, 9]

In [5]:
# returns a range iterable for numbers from 5 (included) to 10 (excluded) with steps of 2
[*range(0, 10, 2)]

[0, 2, 4, 6, 8]

In [6]:
# returns a range iterable for numbers from -100 (included) to -50 (excluded) with steps of 10
[*range(-100, -50, 10)]

[-100, -90, -80, -70, -60]

In [7]:
# returns a range iterable for numbers from -100 (included) to -50 (excluded) with steps of -10
[*range(-100, -50, -10)]

[]

In [8]:
# returns a range iterable for numbers from -50 (included) to -100 (excluded) with steps of -10
[*range(-50, -100, -10)]

[-50, -60, -70, -80, -90]

for **iterable**s in Python we can do iterations and we can give them to functions which take iterables as argumetns such as `sum`

In [9]:
sum([1, 2, 3])

6

In [10]:
sum(range(4))

6

## 8.3 for loop <a id="for-loop"></a>

In python we use `for` keyword to write for loops.

```Python
for <item> in <iterable>:
    process 1
    process 2
    process 3
```

In [11]:
for item in range(10):
    print(item**2, end=", ")

0, 1, 4, 9, 16, 25, 36, 49, 64, 81,

In [12]:
scientists = ["Einstein", "Newton", "Tukey", "Khayyam"]

for scientist in scientists:
    print("Hi " + scientist)

Hi Einstein
Hi Newton
Hi Tukey
Hi Khayyam

In [13]:
scientists = ["Einstein", "Newton", "Tukey", "Khayyam"]

for index in range(len(scientists)):
    print("Hi " + scientists[index])

Hi Einstein
Hi Newton
Hi Tukey
Hi Khayyam

### 8.3.1 enumerate function <a id="function-enumerate"></a>

In [14]:
[*enumerate(scientists)]

[(0, 'Einstein'), (1, 'Newton'), (2, 'Tukey'), (3, 'Khayyam')]

In [15]:
for index, scientist in enumerate(scientists):
    print("scientist at index " + str(index) + " is " + scientist)

scientist at index 0 is Einstein
scientist at index 1 is Newton
scientist at index 2 is Tukey
scientist at index 3 is Khayyam

## 8.4 break and continue <a id="loop-break-continue"></a>

Python has to keywords `break` and `continue` which can be used insided loop.     
When Python reaches to `break` inside a loop, it immediately gets out the loop.      
When Python reaches to `continue` inside a loop, it stops executing the lines below and starts the next iteration in the loop.

### 8.4.1 break <a id="loop-break"></a>

<img src="./images/flow-chart-break.svg" width="500">

In [16]:
for number in range(10):
    print(number, end=", ")
    if number % 9 == 7:
        if number % 9 == 8:
            break

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

### 8.4.2 continue <a id="loop-continue"></a>
<img src="./images/flow-chart-continue.svg" width="500">

In [17]:
for i in range(10):
    if i % 2 == 0:
        print("Even number occured:", str(i))
        continue
    print("Loop number = "+ str(i))
    print("-----------------------")

Even number occured: 0
Loop number = 1
-----------------------
Even number occured: 2
Loop number = 3
-----------------------
Even number occured: 4
Loop number = 5
-----------------------
Even number occured: 6
Loop number = 7
-----------------------
Even number occured: 8
Loop number = 9
-----------------------

## 8.5 pass statements <a id="pass-statements"></a>

Python has a special keyworkd `pass`which means to do nothing

In [18]:
for i in range(10):
    pass  # complete this line of code later

In [19]:
def my_function():
    pass  # implement this function later

## 8.6 Anonymous for loop variable <a id="anonymous-for-loop-variable"></a>

In [20]:
for _ in range(10):
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello