# Object Oriented Programming

## Class

In this section, we will know how to define a class in Python.     
We will define a class which has the following methods and attirbutes:
- class: `Employee`
    - attributes: 
        1. `name`
        2. `salary`
    - methods:
        1. `set_name`
        2. `increase_salary`
        3. `set_salary`
        
In python, classes are defined by `class` keyword and following indented block of code.

The attributes in Python classes are defined insided methods using `=` operator.             

To refer to an attributes such as `name` inside the class, we use `self.name`. The `self` binds the variable `name` to instance of class.

In [1]:
class Employee:
    def set_name(self, new_name):
        self.name = new_name
        
    def set_salary(self, new_salary):
        self.salary = new_salary
        
    def increase_salary(self, amount):
        self.salary += amount

To create objects (instances) from class, we use the `ClassName()`. In the Employee example, we write this to create an instance of `Employee` class:
```Python
employee_1 = Employee()
```
The `employee_1` is an **object** or an **instance** of `Employee` **class**.

In [2]:
employee_1 = Employee()
employee_1.set_name("Javad Ebadi")
employee_1.set_salary(50000)
print(employee_1.name)
print(employee_1.salary)
employee_1.increase_salary(50000)
print(employee_1.salary)

# employee_2 = Employee()

Javad Ebadi
50000
100000

In [3]:
employee_1 = Employee()
employee_1.set_name("Javad Ebadi")
# employee_1.set_salary(50000)
print(employee_1.name)
print(employee_1.salary)

Javad Ebadi

AttributeError: 'Employee' object has no attribute 'salary'

## class Constructor
Class constructor is a method which will be called everytime a new object is created. In python, the special `__init__` method is the constructor.

The `__init__` method is a good place to define the attributes of the class.

In [4]:
class Employee:
    def __init__(self, name="", salary=0):
        self.name = name
        if salary >= 0:
            self.salary = salary
        else:
#             raise ValueError("The salary could not be a negative number")
            self.salary = 0
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_salary(self, new_salary):
        self.salary = new_salary
        
    def increase_salary(self, amount):
        self.salary += amount

In [5]:
employee_1 = Employee(name="Javad Ebadi", salary=50000)
print(employee_1.name)
print(employee_1.salary)

Javad Ebadi
50000

In [6]:
employee_1 = Employee(name="Javad Ebadi", salary=-1)
print(employee_1.salary)

0

## Class level attributes and instance level attributes

Class level data is shared among all instances of the class and even it exists without creating an object.        

In python, class level attributes are defined insided class, and outsided of any mehtods.

```Python
class Employee:
    MAX_SALARY = 1000000  # maximum salary for an employee
    MIN_SALARY = 27000  # minimun salary for an employee
```

The `MAX_SALARY` and `MIN_SALARY` attributes are class level attributes.

To refer to class level attributes such as `MAX_SALARY` inside the class, we could NOT use. `self.MAX_SALARY` and instead of that we must use ClassName.CLASS_LEVEL_ATTRIBUTE such as `Employee.MAX_SALARY`.

In [7]:
class Employee:
    
    MAX_SALARY = 1000000  # class level attribute for maximum salary
    MIN_SALARY = 27000  # class level attribute for minimum salary
    
    def __init__(self, name="", salary=0):
        self.name = name
        self.set_salary(salary)
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_salary(self, salary):
        if salary <= Employee.MAX_SALARY and salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            raise ValueError(
                f"Employe salary must be between "
                f"({Employee.MIN_SALARY}, {Employee.MAX_SALARY})"
            )
        
        
    def increase_salary(self, amount):
        self.salary += amount
        

employee_1 = Employee("John Smith", 28000)
employee_2 = Employee("Albert Einstien", 60000)
print(f"MAX_SALARY of employee 1 = {employee_1.MAX_SALARY}")
print(f"MAX_SALARY of employee 2 = {employee_2.MAX_SALARY}")
print(f"Employee MAX_SALARY = {Employee.MAX_SALARY}")
# print(f"Employee MAX_SALARY = {Employee.salary}")  # this should raise AttributeError

MAX_SALARY of employee 1 = 1000000
MAX_SALARY of employee 2 = 1000000
Employee MAX_SALARY = 1000000

In [8]:
print(f"MAX_SALARY of employee 1 = {employee_1.MAX_SALARY}")
print(f"MAX_SALARY of employee 2 = {employee_2.MAX_SALARY}")
print(f"Employee MAX_SALARY = {Employee.MAX_SALARY}")
employee_1.MAX_SALARY = 7777777
print(f"MAX_SALARY of employee 1 = {employee_1.MAX_SALARY}")
print(f"MAX_SALARY of employee 2 = {employee_2.MAX_SALARY}")
print(f"Employee MAX_SALARY = {Employee.MAX_SALARY}")

MAX_SALARY of employee 1 = 1000000
MAX_SALARY of employee 2 = 1000000
Employee MAX_SALARY = 1000000
MAX_SALARY of employee 1 = 7777777
MAX_SALARY of employee 2 = 1000000
Employee MAX_SALARY = 1000000

In [9]:
Employee.MAX_SALARY = 7777777
print(f"MAX_SALARY of employee 1 = {employee_1.MAX_SALARY}")
print(f"MAX_SALARY of employee 2 = {employee_2.MAX_SALARY}")
print(f"Employee MAX_SALARY = {Employee.MAX_SALARY}")

MAX_SALARY of employee 1 = 7777777
MAX_SALARY of employee 2 = 7777777
Employee MAX_SALARY = 7777777

## Alternative constructors

Python allows us to define class methods as well, using the `@classmethod` decorator and a special first argument `cls`. The main use of class methods is defining methods that return an instance of the class, but aren't using the same code as `__init__()`.

In [10]:
class Employee:
    
    MAX_SALARY = 1000000  # class level attribute for maximum salary
    MIN_SALARY = 27000  # class level attribute for minimum salary
    
    def __init__(self, name="", salary=0):
        self.name = name
        self.set_salary(salary)
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_salary(self, salary):
        if salary <= Employee.MAX_SALARY and salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            raise ValueError(
                f"Employe salary must be between "
                f"({Employee.MIN_SALARY}, {Employee.MAX_SALARY})"
            )
            
    @classmethod
    def from_dict(cls, employee_info):
        name = employee_info["name"]
        salary = int(employee_info["salary"])
        return cls(name=name, salary=salary)

        
    def increase_salary(self, amount):
        self.salary += amount

In [11]:
employee_info = {
    "name": "John Smith",
    "salary": "65000",
}
employee_1 = Employee.from_dict(employee_info)

In [12]:
print(f"Name = {employee_1.name}")
print(f"Salary = {employee_1.salary}")

Name = John Smith
Salary = 65000

## Inheritance

Inheritance means creating a new class by extending functionalities of an existing class.      

We defined `Employee` class. Now, in organizations there are persons which are __managers__ of groups. Managers are still employees but they have some more responsibilites. Therefore, in programming we define `Manager` class which is inherited from `Employee` class.    

In this case, the `Employee` is called the **parent**, **base** or **super** class. The `Manager` which is inherited from `Employee` class is called **child** class or **sub-class**.

In [13]:
class Manager(Employee):
    
    def print_role(self):
        print(f"Manager: {self.name}")

In [14]:
manager = Manager(name="Elon Musk", salary=200000)

In [15]:
print(f"Manager name: {manager.name}")
print(f"Manage salary: {manager.salary}")

Manager name: Elon Musk
Manage salary: 200000

In [16]:
manager.print_role()

Manager: Elon Musk

In [17]:
type(manager)

__main__.Manager

In [18]:
isinstance(manager, Manager)

True

In [19]:
isinstance(manager, Employee)

True

In [20]:
employee = Employee("John Smith", 28000)

In [21]:
isinstance(employee, Employee)

True

In [22]:
isinstance(employee, Manager)

False

## Inheritance - customized functionalities

In [23]:
class Employee:
    
    MAX_SALARY = 1000000  # class level attribute for maximum salary
    MIN_SALARY = 27000  # class level attribute for minimum salary
    
    def __init__(self, name="", salary=0):
        self.name = name
        self.set_salary(salary)
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_salary(self, salary):
        if salary <= Employee.MAX_SALARY and salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            raise ValueError(
                f"Employe salary must be between "
                f"({Employee.MIN_SALARY}, {Employee.MAX_SALARY})"
            )
            
    @classmethod
    def from_dict(cls, employee_info):
        name = employee_info["name"]
        salary = int(employee_info["salary"])
        return cls(name=name, salary=salary)

        
    def increase_salary(self, amount):
        self.salary += amount

In [24]:
class Manager(Employee):
    MIN_SALARY = 50000
    
    def __init__(self, name, salary=50000, project=None):
        Employee.__init__(self, name, salary)
        self.project = project
        
    def increase_salary(self, amount, bonus=1.2):
        Employee.increase_salary(self, amount*bonus)
        
    def print_role(self):
        print(f"Manager: {self.name}")

In [25]:
employee = Employee("John Smith", 28000)
manager = Manager("Elon Musk", 200000)
print(f"Employee : {employee.MIN_SALARY}")
print(f"Manager : {manager.MIN_SALARY}")

Employee : 27000
Manager : 50000

In [26]:
manager = Manager("Elon Musk", 200000, "SpaceX")
print(f"Manager salary: {manager.salary}")
print(f"Manager project: {manager.project}")

Manager salary: 200000
Manager project: SpaceX

In [27]:
employee = Employee("John Smith", 60000)
manager = Manager("Elon Musk", 60000, "SpaceX")
print(f"Employee salary before increment: {employee.salary}")
print(f"Manager salary before increment: {manager.salary}")
employee.increase_salary(10000)
manager.increase_salary(10000)
print(f"Employee salary after increment: {employee.salary}")
print(f"Manager salary after increment: {manager.salary}")

Employee salary before increment: 60000
Manager salary before increment: 60000
Employee salary after increment: 70000
Manager salary after increment: 72000.0

## Operator Overloading

In Python, we can use operator overloading to give new meanings for operators such as `==`, `>`, `>=`, `<`, `<=`, `!=` and etc.

In [28]:
class Employee:
    
    MAX_SALARY = 1000000  # class level attribute for maximum salary
    MIN_SALARY = 27000  # class level attribute for minimum salary
    
    def __init__(self, name="", salary=0):
        self.name = name
        self.set_salary(salary)
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_salary(self, salary):
        if salary <= Employee.MAX_SALARY and salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            raise ValueError(
                f"Employe salary must be between "
                f"({Employee.MIN_SALARY}, {Employee.MAX_SALARY})"
            )
            
    # overload == operator
    def __eq__(self, other):
        if self.name == other.name and self.salary == other.salary:
            return True
        else:
            return False
        
    # overload != opeartor
    ...
        
    # overlaod > operator
    def __gt__(self, other):
        if self.salary > other.salary:
            return True
        else:
            return False
    
    @classmethod
    def from_dict(cls, employee_info):
        name = employee_info["name"]
        salary = int(employee_info["salary"])
        return cls(name=name, salary=salary)
        
    def increase_salary(self, amount):
        self.salary += amount

In [29]:
employee_1 = Employee("John Smith", 50000)
employee_2 = Employee("John Smith", 50000)
employee_3 = Employee("John Smith", 100000)

In [30]:
employee_1 == employee_2

True

In [31]:
employee_1 == employee_3

False

In [32]:
employee_1 < employee_3

True

In [33]:
employee_1 > employee_3

False

In [34]:
class c1:
    def __init__(self, name):
        self.name = name
        
    def __eq__(self, other):
        if type(self) != type(other):
            return False
        if self.name == other.name:
            return True
        else:
            return False
        
class c2:
    def __init__(self, name):
        self.name = name

In [35]:
obj_1 = c1("John")
obj_2 = c2("John")

In [36]:
obj_1 == obj_2

False

In [37]:
class Parent:
    def __init__(self, name):
        self.name = name
        
    def __eq__(self, other):
        if self.name == other.name:
            print("Parent __eq__ is exectued")
            return True
        else:
            return False
            
class Child(Parent):
    def __init__(self, name):
        self.name = name
        
    def __eq__(self, other):
        if self.name == other.name:
            print("Child __eq__ is exectued")
            return True
        else:
            return False

In [38]:
p = Parent("John")
c = Child("John")

In [39]:
p == p

Parent __eq__ is exectued

True

In [40]:
c == c

Child __eq__ is exectued

True

In [41]:
p == c

Child __eq__ is exectued

True

## Operator Overloading: string representation

There are two special methods in Python classes
- `__str__`
- `__repr__`    

which can be used to achieve string representations for objects.

When you use `print` function or `str` function for Python object, the `__str__` method of that object will be executed.   
The goal of defining `__str__` for class is to give users of your class a user friendly information about objects which are created from that class.

The `__repr__` method is used by `repr` function and also give information about object when you print the object in console **without** using `print` function.

In [27]:
class Employee:
    
    MAX_SALARY = 1000000  # class level attribute for maximum salary
    MIN_SALARY = 27000  # class level attribute for minimum salary
    
    def __init__(self, name="", salary=0):
        self.name = name
        self.set_salary(salary)
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_salary(self, salary):
        if salary <= Employee.MAX_SALARY and salary >= Employee.MIN_SALARY:
            self.salary = salary
        else:
            raise ValueError(
                f"Employe salary must be between "
                f"({Employee.MIN_SALARY}, {Employee.MAX_SALARY})"
            )
            
    def __str__(self):
        return f"Employee name: {self.name}\nEmployee salary: {self.salary}"
    
    def __repr__(self):
        return f"Employee('{self.name}', {self.salary})"
    
    def increase_salary(self, amount):
        self.salary += amount

In [28]:
employee = Employee("John Smith", 50000)

In [29]:
print(employee)

Employee name: John Smith
Employee salary: 50000

In [30]:
str(employee)

'Employee name: John Smith\nEmployee salary: 50000'

In [31]:
employee

Employee('John Smith', 50000)

In [32]:
Employee('John Smith', 50000)

Employee('John Smith', 50000)